/* Banner Styling */
.gallery-banner {
    width: 100%;
    height: 300px;
    background: #b00c0c;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
}

.gallery {
    padding: 10px;
}